@media screen and (max-width: 700px) {
    header .container{
        display: flex;
        flex-direction: column;
    }

    .film-principal .container .botao{
        margin-top: 1rem;
        width: 20rem;

    }
}

@media screen and (min-width: 1000px){
    .film-principal .container .descricao{
        width: 50%;
    }
}